<div class="container" id="header" class="main">
	<div class="row flex">
			<div><img  class="scroll" src="/images/scroll-left.svg" alt="srcoll" id="scroll-left"></div>
			<div class="whole-head">
				<div class="cup-head-div">
					<img class="cup-head" id="left-cup" src="/images/cup.png">
				</div>
				<div class="center-align header-text">
					<h1>Temple Beth Shalom</h1>
					<h5>Manalapan, NJ</h5>
				</div>
				<div class="cup-head-div">
					<img class="cup-head"  id="right-cup" src="/images/cup.png">
				</div>
			</div>
			<div><img class="scroll" src="/images/scroll-right.svg" alt='scroll' id="scroll-right"></div>
		</div>

	</div>
<div id="philosophyDiv">
	<div class="row">
		<h3 class="center-align topRow">
			OUR PHILOSOPHY
		</h3>
	</div>
	<div class="row bottomRow">
		<div class="col m1 hide-on-small-only"></div>
		<div class="col m2 hide-on-small-only">
			<img class="responsive-img" id="cupImg" src="/images/cup.png"/>
		</div>
		<div class="col s12 m8" id="philText">
			<p>
				Temple Beth Shalom was founded in 1978. Since then we have grown from a handful of individuals to over 400 families. Our building was dedicated in November, 1984.</p>

			<p>
				Our mission is to “Bring Good Things To Light". We believe that God gifts to each of us a divine spark. It is that divine spark that makes each of us who we are as human beings and as Jews. Our challenge throughout our lifetime is to develop a
				healthy relationship with that divine spark. If we succeed then by our actions and our growth “We Bring Good Things to Light.?In other words, we each do our share to inject light into a world that is often far too dark.</p>

			<p>
				Mitzvot are tools of light. The more mitzvoth we do, the more light we bring into our lives and into the lives of those around us. Being part of a “community of light?means that we share in this sacred task together. Being part of TBS gives each of
				us the opportunity to connect with each other, with our history and with our tradition.</p>

			<p>Be part of the TBS experience and together we will “Bring Good Things to Light!?</p>
		</div>
		<div class="col m1 hide-on-small-only"></div>
	</div>
</div>
<div  id="peopleDiv">
	<!-- <div class="row" id="who-top">
		<h3 class="center-align">
			WHO WE ARE
		</h3>
	</div> -->
	<div class="row" id="who-bottom">
		<div class="col m2 hide-on-small-only"> </div>
		<div class="col s12 m8">
			<div class="row">
				<div class="col m12">
					<h5 class="center-align" id="words1">Conservative-Egalitarian-Caring</h5>
				</div>
			</div>
			<div class="row">
				<div class="col m6 s12">
					<h5 class="center-align" id="words2">Contemporary-Challenging</h5>
				</div>
				<div class="col m6 s12">
					<h5 class="center-align"id="words3">Uplifting-Learning-Celebrating</h5>
				</div>
			</div>
			<div class="row">
				<div class="col m12">
					<h5 class="center-align" id="words4">Comforting-Healing-Exploring</h5>
				</div>
			</div>
		</div>
		<div class="col m2 hide-on-small-only"></div>
	</div>
</div>
<div id="eventsDiv">
	<div class="row">
		<div class="col s12">
			<h3 class="center-align">
				What's Going On
			</h3>
		</div>
	</div>
	<div class="row bottomRow">
		<div class="col m1 hide-on-small-only"></div>
		<div class="col s12 m4">
			<div class="carousel carousel-slider center" data-indicators="true">
				<!-- <div class="carousel-fixed-item center">
				 <a class="btn waves-effect white grey-text darken-text-2">button</a>
			 </div> -->
			 	{{# each data.happenings}}
				 <div class="carousel-item blue white-text" href="#one!">
					 <h2>{{{title}}}</h2>
					 <p class="white-text"> {{{description}}}</p>
				 </div>
			 	{{/each}}

			 <!-- <div class="carousel-item amber white-text" href="#two!">
				 <h2>Food Drive</h2>
				 <p class="white-text">This is your second panel</p>
			 </div>
			 <div class="carousel-item green white-text" href="#three!">
				 <h2>Third Panel</h2>
				 <p class="white-text">This is your third panel</p>
			 </div>
			 <div class="carousel-item blue white-text" href="#four!">
				 <h2>Fourth Panel</h2>
				 <p class="white-text">This is your fourth panel</p>
			 </div> -->
 	 		</div>
		</div>
		<div class="col s12 m6">
			<div id="calendar"></div>
		</div>
		<div class="col m1 hide-on-small-only"></div>
	</div>
</div>
<div  id="locationDiv">
	<div class='row'>
		<div class="col s12">
			<h3 class="center-align">Come Join Us!</h3>
		</div>
	</div>
	<div class="row bottomRow">
		<div class="col m1 hide-on-small-only"></div>
		<div class="col s12 m6">
			<div id='map'>
				<iframe width="600" height="450" frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCfv89zLRw4kRENC40Opr8kM&key= AIzaSyAZIJ7U0CnZGDkXpXYubPLyfy-uFgAIpoc" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col s12 m4" id="contact-list">
			<div class="row contact-row">
				<div class="col s1">
					<i class="small material-icons">location_on</i>
				</div>
				<div class="col s11 center-align contact-text">
					<p>108 Freehold Road</p>
					<p>Malanalapan NJ, 07726</p>
				</div>
			</div>
			<div class="row contact-row">
				<div class="col s1">
					<i class="small material-icons">phone</i>
				</div>
				<div class="col s11 center-align contact-text">
					<p>732-446-1200</p>
				</div>
			</div>
			<div class="row contact-row">
				<div class="col s1">
					<i class="small material-icons">email</i>
				</div>
				<div class="col s11 center-align contact-text">
					<a id="temple-email" href="mailto:templebeth@aol.com"<p>templebeth@aol.com</p></a>
				</div>
			</div>
		</div>
		<div class= "col m1 hide-on-small-only"></div>
	</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="calendarModal">
  <!-- <div class="modal-dialog" role="document"> -->
    <div class="modal-content">
      <div class="modal-header center-align">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">Modal title</h4>
      </div>
      <div class="modal-body">
				<p  id="modalDate"></p>
        <p  id="modalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default button" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  <!-- </div>< /.modal-dialog -->
</div><!-- /.modal -->


<div  id="pop-over" class="popover" role="tooltip" data-trigger="hover" data-placement="auto left" data-start=""><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>


<script>

$('.carousel.carousel-slider').carousel({fullWidth: true});





	$(document).ready(function() {
		$('.carousel').carousel();
		 setInterval(function() {
			 $('.carousel').carousel('next');
		 }, 8000);


			// page is now ready, initialize the calendar...


			$('#calendar').fullCalendar({
				header:{
					left: 'prev,today,next',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},

				googleCalendarApiKey: 'AIzaSyCedQE5fGD3l_z3IkFf89bKL_6pYjhOl8A',
         events: {
             googleCalendarId: 'tp060jcjunl5adpsqsgs6c09f4@group.calendar.google.com'
				 },
				 eventRender: function(event, element){
					 console.log(event)
					 element.on('click', function (e) {
							e.preventDefault();

					})


					var date = moment.tz(event.start._d,"America/New_York").format("dddd, MMMM Do YYYY, h:mm a")
					if(event.description){
						element
							.popover({
								html: true,
								container:'body',
								placement: 'left',
								trigger: 'hover',
								title: event.title,
								content: date + '<br />' + event.description
							})
							.popover()
					} else {
						element
							.popover({
								html: true,
								container:'body',
								placement: 'left',
								trigger: 'hover',
								title: event.title,
								content: date
							})
							.popover()
					}



				},





	});
});


	</script>
