{{!< default}}
<div class="container" id="header">
	<div class="row">
		<div class="col s12 center-align">
			<h1>Temple Beth Shalom</h1>
		</div>
	</div>
</div>
<div id="philosophyDiv">
	<div class="row">
		<h3 class="center-align topRow">
			OUR PHILOSOPHY
		</h3>
	</div>
	<div class="row bottomRow">
		<div class="col m1 hide-on-small-only"></div>
		<div class="col m2 hide-on-small-only">
			<img class="responsive-img" id="cupImg" src="/images/cup.png"/>
		</div>
		<div class="col s12 m8" id="philText">
			<p>
				Temple Beth Shalom was founded in 1978. Since then we have grown from a handful of individuals to over 500 families. Our building was dedicated in November, 1984.</p>

			<p>
				Our mission is to “Bring Good Things To Light". We believe that God gifts to each of us a divine spark. It is that divine spark that makes each of us who we are as human beings and as Jews. Our challenge throughout our lifetime is to develop a
				healthy relationship with that divine spark. If we succeed then by our actions and our growth “We Bring Good Things to Light.?In other words, we each do our share to inject light into a world that is often far too dark.</p>

			<p>
				Mitzvot are tools of light. The more mitzvoth we do, the more light we bring into our lives and into the lives of those around us. Being part of a “community of light?means that we share in this sacred task together. Being part of TBS gives each of
				us the opportunity to connect with each other, with our history and with our tradition.</p>

			<p>Be part of the TBS experience and together we will “Bring Good Things to Light!?</p>
		</div>
		<div class="col m1 hide-on-small-only"></div>
	</div>
</div>
<div  id="peopleDiv">
	<div class="row topRow">
		<h3 class="center-align">
			WHO WE ARE
		</h3>
	</div>
	<div class="row bottomRow">
		<div class="col m2 hide-on-small-only"> </div>
		<div class="col s12 m4">
			<div class="card horizontal">
				<div class="card-image">
					<img  class="activator" src="/images/rabbi.png">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p class="first-line" id="card-title">Rabbi</p>
						<p  class="second-line" id="card-title">Ira Rothstein</p>

					</div>
					<div class="card-action right-align">
						<i class="material-icons">email</i>
						<i class="material-icons ">local_phone</i>
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title">Rabbi Ira Rothestein<i class="material-icons right">close</i>
					</span>
					<p>Rabbi Ira Rothstein is the spiritual leader of Temple Beth Shalom since 1979. He is a graduate of the Jewish Theological Seminary and has been associated with Temple Beth Shalom since it's inception. Rabbi Rothstein also holds a graduate degree in
						social work from Columbia University. He is a teacher, a doer, a counselor and a friend to children and adults alike. Rabbi Rothstein is a major strength of Temple Beth Shalom.</p>
				</div>
			</div>
		</div>
		<div class="col s12 m4">
			<div class="card horizontal">
				<div class="card-image">
					<img  class="activator" src="/images/cantor.jpeg">
				</div>
				<div class="card-stacked">
					<div class="card-content">
						<p class="first-line" id="card-title">Cantor</p>
						<p class="second-line" id="card-title">Summer Green</p>
					</div>
					<div class="card-action right-align">
						<i class="material-icons">email</i>
						<i class="material-icons ">local_phone</i>
					</div>
				</div>
				<div class="card-reveal">
					<span class="card-title">Cantor Summer Green<i class="material-icons right">close</i>
					</span>
					<p>
						Cantor Summer Greenwald-Gonella or "Cantor Summer" as we call her grew up in Modesto, California attending a synagogue called Beth Shalom. In her synagogue growing up she would lead Shabbat services and tutor B'Nai Mitzvah students. She earned her
						Bachelor of Music in vocal performance from California State University, graduating with honors. She has been on the Dean's list throughout her college career and is a member of the National Society of Collegiate Scholars, the National Society of
						Leadership and Success, as well as the Golden Key Society. She spent a full year living in Israel attending classes as part of cantorial school. Cantor Summer did her internship for three years at Temple Beth Rishon in Wyckoff New Jersey. She has
						received her Masters of Jewish Education as well as her Masters of Sacred Music from the HL Miller Cantorial School of the Jewish Theological Seminary, where she was ordained as Cantor this past May.
						<p>Cantor Summer is talented, enthusiastic, authentic, organized, friendly and a welcome addition to Temple Beth Shalom.</p>
						<p>
							We welcome her to our staff and congregational family.</p>
				</div>
			</div>
		</div>
		<div class="col m2 hide-on-small-only"></div>
	</div>
</div>
<div id="eventsDiv">
	<div class="row">
		<div class="col s12">
			<h3 class="center-align">
				What's Going On
			</h3>
		</div>
	</div>
	<div class="row bottomRow">
		<div class="col m1 hide-on-small-only"></div>
		<div class="col s12 m5">
			<ul class="collapsible popout" data-collapsible="accordion">
				<li>
					<div class="collapsible-header"><p>TBS Alive</p></div>
					<div class="collapsible-body"><span><p>
						TBS Alive is our Shabbat Service with musical accompaniment. It is difficult to describe the service that is uplifting and spiritual. You have to experience it yourself to understand what we mean. Please be here and bring your friends. After the
						service, Rabbi Rothstein will hold a discussion session on a timely topic. Please mark your calendarset.</p></span></div>
				</li>
				<li>
					<div class="collapsible-header"><p>Food Drive</p></div>
					<div class="collapsible-body"><span><p>Remember to bring your Kosher canned good item for our ongoing food drive and to our Kol Nidre Food Drive.. Our food bin is located in the education wing door lobby area throughout the year. Food bins will be set up outside the Sanctuary at TBS and
					at MHS outside the auditorium on Kol Nidre evening. The food is transported to the Open Door Food Shelter in Freehold and the Samaritan Center in Manalapan after Yom Kippur and on a regular basis. Remember it is a mitzvah to feed the hungry.</p></span></div>
				</li>
				<li>
					<div class="collapsible-header"><p>Rabbi Rothstein's Meditation Class</p></div>
					<div class="collapsible-body"><span><p>October 10, December 19, January 2, February 20, March 20, May 22. Mark your calendars</p></span></div>
				</li>
			</ul>
		</div>
		<div class="col s12 m6">
			<div id="calendar"></div>
		</div>
	</div>
</div>
<div  id="locationDiv">
	<div class='row'>
		<div class="col s12">
			<h3 class="center-align">Come Join Us!</h3>
		</div>
	</div>
	<div class="row bottomRow">
		<div class="col m1 hide-on-small-only"></div>
		<div class="col s12 m6">
			<div id='map'>
				<iframe width="600" height="450" frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJCfv89zLRw4kRENC40Opr8kM&key= AIzaSyAZIJ7U0CnZGDkXpXYubPLyfy-uFgAIpoc" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col s12 m4" id="contact-list">
			<div class="row contact-row">
				<div class="col s1">
					<i class="small material-icons">location_on</i>
				</div>
				<div class="col s11 center-align contact-text">
					<p>108 Freehold Road</p>
					<p>Malanalapan NJ, 07726</p>
				</div>
			</div>
			<div class="row contact-row">
				<div class="col s1">
					<i class="small material-icons">phone</i>
				</div>
				<div class="col s11 center-align contact-text">
					<p>732-446-1200</p>
				</div>
			</div>
			<div class="row contact-row">
				<div class="col s1">
					<i class="small material-icons">email</i>
				</div>
				<div class="col s11 center-align contact-text">
					<p>templebeth@aol.com</p>
				</div>
			</div>
		</div>
		<div class= "col m1 hide-on-small-only"></div>
	</div>
</div>
</div>

<script>



$(document).ready(function() {


		// page is now ready, initialize the calendar...

		$('#calendar').fullCalendar({

	})

});

</script>
