<div class="page-body">
  <div class="row ">
    <div class="col s12">
      <h3 class="center-align">Prayer Page</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2 section">
      <div class="row">
        <div class="col s12">
          <h5 class="left-align prayer-header"> Torah Prayers</h5>
        </div>
      </div>
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing Before the Torah Reading</p>
          </div>
          <!-- <div class="col s4">
              <p><i class="material-icons audio-icon">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons"  data-audio="before-torah">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-bar="before-torah"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
            </div>
          <img src="/audio/text/Blessing-before-the-torah.gif" alt='blessing-before-the-torah'>
        </div>
      </li>
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing After the Torah Reading</p>
          </div>
          <!-- <div class="col s4" >
              <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s8 offset-s2 player">
                  <div class="col s1">
                    <button id="play-btn"><i class="material-icons"  data-audio="after-torah">play_arrow</i></button>
                  </div>
                  <div class="col s10">
                    <div class="progress" style="height: 10px;">
                      <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col s1">
                    <p class="time"></p>
                  </div>
              </div>
            </div>
          <img src="/audio/text/torah-after.gif" alt='blessing-after-the-torah'>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-s2 section">
    <div class="row">
      <div class="col s12">
        <h5 class="left-align prayer-header">Haftorah Prayers</h5>
      </div>
    </div>
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing Before the Haftorah</p>
          </div>
          <!-- <div class="col s4" data-audio="before-haftorah">
              <p><i class="material-icons">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons"  data-audio="before-haftorah">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-audio="before-haftorah"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          <img src="/audio/text/haftorah-before.gif" alt='haftorah-before'>
        </div>
      </li>
    </ul>
    <ul class="collapsible" data-collapsible="expandable">
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing After the Haftorah Part 1</p>
          </div>
          <!-- <div class="col s4" data-audio="after-haftorah-p1">
              <p><i class="material-icons">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons"data-audio="after-haftorah-p1">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          <img src="/audio/text/haftorah-after-p1.jpg" alt='haftorah-after-p1'>
        </div>
      </li>
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing After the Haftorah Part 2</p>
          </div>
          <!-- <div class="col s4" data-audio="after-haftorah-p1">
              <p><i class="material-icons">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons"  data-audio="after-haftorah-p2">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          <img src="/audio/text/haftorah-after-p2.jpg" alt='haftorah-after-p2'>
        </div>
      </li>
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing After the Haftorah Part 3</p>
          </div>
          <!-- <div class="col s4" data-audio="after-haftorah-p1">
              <p><i class="material-icons">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons" data-audio="after-haftorah-p3">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          <img src="/audio/text/haftorah-after-p3.jpg" alt='haftorah-after-p3'>
        </div>
      </li>
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing After the Haftorah Part 4</p>
          </div>
          <!-- <div class="col s4" data-audio="after-haftorah-p1">
              <p><i class="material-icons">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons" data-audio="after-haftorah-p4">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          <img src="/audio/text/haftorah-after-p4.jpg" alt='haftorah-after-p4'>
        </div>
      </li>
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing After the Haftorah Part 5</p>
          </div>
          <!-- <div class="col s4" data-audio="after-haftorah-p1">
              <p><i class="material-icons">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons" data-audio="after-haftorah-p5">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          <img src="/audio/text/haftorah-after-p5.jpg" alt='haftorah-after-p5'>
        </div>
      </li>
      <li>
        <div class="row collapsible-header">
          <div class="col s12 center-align">
            <p>Blessing After the Haftorah Part 6</p>
          </div>
          <!-- <div class="col s4" data-audio="after-haftorah-p1">
              <p><i class="material-icons">audiotrack</i>audio</p>
          </div>
          <div class="col s4">
            <p><i class="material-icons">title</i>text</p>
          </div> -->
        </div>
        <div class="collapsible-body">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons" data-audio="after-haftorah-p6">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px;">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          <img src="/audio/text/haftorah-after-p6.jpg" alt='haftorah-after-p6'>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row bottomRow">
  <div class="col s8 offset-s2 section">
    <div class="row">
      <div class="col s12">
        <h5 class="left-align prayer-header">Shabbat T'Fillot</h5>
      </div>
    </div>
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Shema/V'ahavtah</p>
        </div>
        <!-- <div class="col s4">
            <p><i class="material-icons audio-icon">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
      <div class="collapsible-body">
        <div class="row">
          <div class="col s8 offset-s2 player">
              <div class="col s1">
                <button id="play-btn"><i class="material-icons" data-audio="shema">play_arrow</i></button>
              </div>
              <div class="col s10">
                <div class="progress" style="height: 10px">
                  <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-bar="before-torah"></div>
                </div>
              </div>
              <div class="col s1">
                <p class="time"></p>
              </div>
            </div>
          </div>
        <img src="/audio/text/v'havta.jpg" alt="'Shema/V'ahavta">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Mi Chamocha</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="miChamocha">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/Mi-Chamocha.jpg" alt='Mi Chamocha Image'>
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>V'Shamru</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="vshamru">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/vshamru.jpg" alt="V'Shamru Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Eyn Kamocha</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="eynKamocha">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/eynKamocha.jpg" alt="Eyn Kamocha Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Shema/Echad/Gad'lu</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="shema2">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/shema2.jpg" alt="Eyn Kamocha Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>L'cha Adonai</p>
        </div>
        <!-- <div class="col s4">
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="lchaAdonai">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
          </div>
        <img src="/audio/text/L'cha-Adonai.jpg" alt="L'cha Adonai Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Yehal'lu</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="yehalu">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/yehallu.JPG" alt="Yehal'lu Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Psalm 29</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="psalm29">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/psalm29.JPG" alt="Yehal'lu Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Etz Chaim Hi</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="etzChaim">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/Eitz-Chayim.jpg" alt="Etz Chaim Hi Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Hatzi Kaddish</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="hatzi-kaddish">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/hatzi-kaddish.JPG" alt="Hatzi Kaddish Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Musaf Amidah</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="musaf-amidah">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/musaf-amidah.JPG" alt="Musaf Amidah Image">
      </div>
    </li>
    <li>
      <div class="row collapsible-header">
        <div class="col s12 center-align">
          <p>Musaf Kedushah</p>
        </div>
        <!-- <div class="col s4" >
            <p><i class="material-icons audio-icon" data-bar="after-torah">audiotrack</i>audio</p>
        </div>
        <div class="col s4">
          <p><i class="material-icons">title</i>text</p>
        </div> -->
      </div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col s8 offset-s2 player">
                <div class="col s1">
                  <button id="play-btn"><i class="material-icons" data-audio="musaf-kedusah">play_arrow</i></button>
                </div>
                <div class="col s10">
                  <div class="progress" style="height: 10px;">
                    <div class="progress-bar progress__filled" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="col s1">
                  <p class="time"></p>
                </div>
              </div>
          </div>
        <img src="/audio/text/musaf-kedusah.jpg" alt="Musaf Kedussah Image">
      </div>
    </li>
  </ul>
</div>
</div>

<audio class="torah" data-audio="before-torah" data-bar="before-torah" src="/audio/audio/Torah-Before.mp3" preload="auto" ></audio>
<audio class="torah" data-audio="after-torah" src="/audio/audio/Torah-After.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="before-haftorah" src="/audio/audio/Haftarah-Before.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="after-haftorah-p1" src="/audio/audio/Haftarah-After-P1.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="after-haftorah-p2" src="/audio/audio/Haftarah-After-P2.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="after-haftorah-p3" src="/audio/audio/Haftarah-After-P3.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="after-haftorah-p4" src="/audio/audio/Haftarah-After-P4.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="after-haftorah-p5" src="/audio/audio/Haftarah-After-P5.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="after-haftorah-p6" src="/audio/audio/Haftarah-After-P6.mp3" preload="auto" ></audio>
<audio class="haftorah" data-audio="shema" src="/audio/audio/shema.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="miChamocha" src="/audio/audio/Mi-Chamocha.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="vshamru" src="/audio/audio/VShamru.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="eynKamocha" src="/audio/audio/Eyn-Kamocha.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="shema2" src="/audio/audio/shema2.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="lchaAdonai" src="/audio/audio/Lcha-Adonai.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="yehalu" src="/audio/audio/Yehallu.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="psalm29" src="/audio/audio/Psalm-29.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="etzChaim" src="/audio/audio/Etz-Chaim-Hi.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="hatzi-kaddish" src="/audio/audio/Hatzi-Kaddish.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="musaf-amidah" src="/audio/audio/Musaf-Amidah.mp3" preload="auto"></audio>
<audio class="haftorah" data-audio="musaf-kedusah" src="/audio/audio/Musaf-Kedushah.mp3" preload="auto"></audio>






<script>



  const icons = Array.from(document.getElementsByClassName('audio-icon'))
  const playBtns = document.querySelectorAll('#play-btn')
  const collapsibles = document.querySelector('.collapsible')
  const progressBars = document.querySelectorAll('.progress-bar')


  console.log(progressBars)


// functions

function getPrayer(){

  if (!prayer) return;
}


function isPlaying(prayer, progressBar,timeDisplay){
  if(prayer.ended){
    progressBar.style.width = 0
    timeDisplay.innerHTML = ""
  }
}



function togglePlay(e) {


  console.log(e)
  var id = e.srcElement.dataset.audio
  var idString = id.toString();
  console.log(idString)
  const prayer = document.querySelector(`audio[data-audio="${idString}"]`)
  const method = prayer.paused ? 'play' : 'pause';
  prayer[method]();



  prayer.addEventListener('play', function(){
    console.log(this)
    const icon = this.paused ? 'play_arrow' : 'pause';

    e.srcElement.innerHTML = icon;
  });

    prayer.addEventListener('pause', function(){
      console.log(this)
      const icon = this.paused ? 'play_arrow' : 'pause';

      e.srcElement.innerHTML = icon;
    });


    prayer.addEventListener('timeupdate', function(){

      console.log(e)
      const percent = (prayer.currentTime / prayer.duration) * 100;
      const progressBar = e.path[3].childNodes[3].childNodes[1].childNodes[1]

      progressBar.style.width = `${percent}%`;
      console.log(prayer.currentTime)

      const timeDisplay = e.path[3].lastElementChild.childNodes[1]
      timeDisplay.innerHTML = moment(prayer.currentTime).seconds(prayer.currentTime).format("mm:ss")
      isPlaying(prayer,progressBar,timeDisplay)

    })

    const progressBar = e.path[3].childNodes[3].children[0]
      function scrub(e) {
        const scrubTime = (e.offsetX / progressBar.offsetWidth) * prayer.duration;
        prayer.currentTime = scrubTime;
      }

    let mousedown = false
    progressBar.addEventListener('click', scrub)
    progressBar.addEventListener('mousemove', (e)=> mousedown && scrub(e))
    progressBar.addEventListener('mousedown', () => mousedown = true)
    progressBar.addEventListener('mouseup', () => mousedown = false)

  };









playBtns.forEach(playBtn => playBtn.addEventListener('click', togglePlay));














</script>
