<div class="row"  class="main">
  <div class="col s12">
    <h3 class="center-align"> Staff <h3>
  </div>
</div>
<div class="row">
  <div class="col m2 hide-on-small-only"></div>
  <div class="col s12 m4">
   <div class="card horizontal">
    <div class="card-image">
      <img  class="activator" src="/images/rabbi.png">
    </div>
    <div class="card-stacked">
      <div class="card-content activator">
        <p class="first-line" id="card-title">Rabbi</p>
        <p  class="second-line" id="card-title">Ira Rothstein</p>
        <br />
        <p class="third-line">Our spiritual leader, Rabbi Ira Rothestein - a graduate of the Theo...</p>
        <a class="waves-effect waves-light btn card-btn activator" id="rabbi-btn">more</a>
      </div>
      <div class="card-action right-align">
        <a href="mailto:rabbiira@aol.com"><i class="material-icons">email</i></a>
        <i class="material-icons ">local_phone</i>

      </div>
    </div>
    <div class="card-reveal">
      <span class="card-title">Rabbi Ira Rothestein<i class="material-icons right">close</i>
      </span>
      <p>Our spiritual leader, Rabbi Ira Rothestein - a graduate of the Jewish Theological Seminary, has been the lead clergy of Congregation Beth Shalom since its inception in 1979. Rabbi Rothstein also holds a graduate degree in
        social work from Columbia University. He is a teacher, a doer, a counselor and a friend to children and adults alike. Rabbi Rothstein is a major strength of Temple Beth Shalom.</p>
    </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card horizontal">
      <div class="card-image">
        <img  class="activator" src="/images/cantor.jpeg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="first-line" id="card-title">Cantor</p>
          <p class="second-line" id="card-title">Summer Green</p>
          <br />
          <p class="third-line"> Cantor Summer Greenwald-Gonella or "Cantor Summer" as we call her grew up in...</p>
          <a class="waves-effect waves-light btn card-btn activator">more</a>
        </div>
        <div class="card-action right-align">
          <i class="material-icons">email</i>
           <i class="material-icons ">local_phone</i>
         <i class="activator material-icons ">info</i>
        </div>
      </div>
      <div class="card-reveal">
        <span class="card-title">Cantor Summer Green<i class="material-icons right">close</i>
        </span>
        <p>
          Cantor Summer Greenwald-Gonella or "Cantor Summer" as we call her grew up in Modesto, California attending a synagogue called Beth Shalom. In her synagogue growing up she would lead Shabbat services and tutor B'Nai Mitzvah students. She earned her
          Bachelor of Music in vocal performance from California State University, graduating with honors. She has been on the Dean's list throughout her college career and is a member of the National Society of Collegiate Scholars, the National Society of
          Leadership and Success, as well as the Golden Key Society. She spent a full year living in Israel attending classes as part of cantorial school. Cantor Summer did her internship for three years at Temple Beth Rishon in Wyckoff New Jersey. She has
          received her Masters of Jewish Education as well as her Masters of Sacred Music from the HL Miller Cantorial School of the Jewish Theological Seminary, where she was ordained as Cantor this past May.
          <p>Cantor Summer is talented, enthusiastic, authentic, organized, friendly and a welcome addition to Temple Beth Shalom.</p>
          <p>
            We welcome her to our staff and congregational family.</p>
      </div>
    </div>
  </div>
  <div class="col m2 hide-on-small-only"></div>
</div>
