<div class="info"  class="main">
  <div class="row topRow">
    <div class="col s12">
      <h3 class="center-align">Teen Committee</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s5 offset-s1">
      <p class="info-p"> The TBS Teen Committee integrates our Bar and Bat Mitzvah youth into the life of our synagogue. We provide leadership and fun volunteer opportunities. Our teens serve as Hebrew school office and class assistants, holiday celebration helpers, Torah readers and tzedukah fundraisers. The Teen Committie participates in community outreach projects.</p>
    </div>
    <div class="col s2" id="img-div">
      <img src="http://lorempixel.com/200/200/people"  alt="..." class="img-thumbnail">
    </div>
    <div class="col s3" id="img-div">
      <img src="http://lorempixel.com/300/300/people"  alt="..." class="img-thumbnail" id="img2">
    </div>
  </div>
</div>
<div class="stuff">
  <div class="row bottomRow">
    <div class="col m6 s12">
      <div class="row">
        <div class="col s12">
          <h4 class="center-align">Upcoming Events</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s2 offset-s3">
          <i class="material-icons">event</i>
        </div>
        <div class="col s7">
          <div class="row">
            <div class="col s12">
              <p class="eventTitle">Title</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p class="eventTitle">date</p>
            </div>
          </div>
        </div>
      </div>
  </div>
    <div class="col m6 s12">
      <div class="row">
        <div class="col s12">
          <h4 class="center-align">Announcments</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s2 offset-s3">
          <i class="material-icons">announcement</i>
        </div>
        <div class="col s7">
          <div class="row">
            <div class="col s12">
              <p class="eventTitle">Title</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
