* {
  box-sizing: border-box;
}

:root{
  /*--background1: #F7FCFF;*/
  --background1: #EDEDED;
  /*--background2: #f2f7f9;*/
  --background2: #F2F2F2;

  --sectionHeaderColor: #dcae1d;
  --Bree: 'Bree Serif', serif;
  --openSans: 'Open Sans', sans-serif;

  --dark-blue: #011936 ;
  --white: #fff;
  --light-blue: #3399CC;
  --tan: #CDB99C;
  --red: #330000;

  /**/
}
/*#cae4db*/
/*#7a9d96*/
/*#00303f*/


/*#ECC748-gold*/
/*#3B94A1-blue*/
/*#E69C43-orange*/
/*#945D4F-bronze*/
/*#655B66-purple*


/*Overall Formating*/
nav{
  background-color: #011936;
  padding: 0 10px;
  padding-left: 30px;
  font-family: 'Bree Serif', serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

nav ul{
  padding-top: 10px;
}



.nav-content p{
  margin-bottom: 0;
  position: relative;
  bottom: 15px;
}

.navbar-fixed{
  height: 83px
}

#body{
  background-color: var(--background2)
}


a.disabled {
    pointer-events: none;
}

.button{
  background-color: var(--light-blue);
  font-family:'Open Sans', sans-serif;
}

.button:hover{
  background-color: var(--light-blue)
}

.button:focus{
  background-color: var(--light-blue)
}


#header{
  /*background-color: #F3E3C8;*/
  background-image: url('/images/glass.jpg');
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;

  /*opacity: 0.7;*/
  padding: 0;
  margin: 0;
  min-width: 100%;
  color: white;

}

#header .row{
  margin-left: 0px;
  margin-right: 0;
}

.cup-head-div{
    /* flex-basis: 20%; */
    /*background-color: #f3e3c8;*/
    max-height: inherit;
    position: relative;
    /*top: 40px;*/
}


#left-cup{

  max-height: inherit;

}

#right-cup{

  max-height: inherit;
}


.flex{
  display: flex;
  flex-direction: row;
  width: 100%;
  /*border-bottom: 10px solid var(--dark-blue);*/

}
.whole-head{
  /* display: flex; */
  /* flex-direction: row;
  flex-grow: 1; */
  width: 100%;
  background-color: #fffbea;
  max-height: 8.8em;
  position: relative;
  top: 10px;
  margin: 30px 0;
}

.cup-head-div{
  padding: 0px;
}

.border{
  min-height: 16px;
  background-color: #fff
}

.header-text{
  /*background-color: #f3e3c8;*/
  flex-basis: 60%


}


.signIn{
  color: whit;
}

#scroll-left{

  position: relative;
  left: 5px;

}


#scroll-right{
  position: relative;
  right: 5px;
}


.page-footer{
  background-color: var(--dark-blue);
  margin-top: 0;
}

.footer-column p{
  font-size: 16px;

}



.page-body{
  background-color: #e8f6fc;
  margin-bottom: 0;
}




#philosophyDiv{
  /* background-color: #e8f6fc; */
  /* background-color: #e2f3ff; */
    background-color: #e2f6ff;
  margin-bottom: 0;
  margin-top: 0;
  border-top: 10px solid var(--dark-blue);



}




 #eventsDiv {
  background-color: #e2f6ff;
  margin-bottom: 0;
  margin-top: 0;
  /* border-bottom: 10px solid var(--dark-blue); */

  /*max-height: 100vh;*/
  /*margin: 0;*/
  /*width: 100%*/
}

#peopleDiv{
  margin-top: 0;
  /* background: linear-gradient(to bottom right, #E0FB93, white); */
  background-color: var(--dark-blue);

}

 #locationDiv{
  background-color: var(--background1);
  margin-top: 0;
  /*height: 100vh*/

  /*margin: 0;*/
  /*width: 100%;*/
}


#header h1{
    font-family: 'Bree Serif', serif;
    font-size: 4.5em;
    color:var(--dark-blue);
    margin-bottom: 0;
    margin-top: 1%;


}

#header .row{
  margin-bottom: 0;
}


.scroll{
  max-height: 12.5em;



}



#header h5{
  margin-top: 0;
  font-family:'Bree Serif', serif;
  color:var(--dark-blue);

}

p, h4{
  font-family: 'Open Sans', sans-serif;
}

p{
  line-height: 1.5em
}



.blog-body{
  background-image: url('../../images/glasses.jpeg');
  background-repeat: no-repeat;
  background-size: cover;


   /* Create the parallax scrolling effect */
   background-attachment: fixed;

}


h3, #blog-{
  /*color: #afd275;*/
  font-family:'Bree Serif', serif;
  color: var(--dark-blue)
  /*#655B66;*/
}

#blog-{
  padding-bottom: 30px;
}

.topRow{
  padding: 3% 0 2% 0;
  margin: 0;
}

.bottomRow{
  margin-bottom: 0;
  padding-bottom: 5%;


}




/*Phiosolphyh Div Formatting*/

#philText, #cupImg{
  font-size: 1.1em;



}

#cupimg{
  max-height: 220px;
}



/*People Div Formating*/

.card{
  background-color: var(--tan);
  width: 100%;
  height: 340px;

}

.card.horizontal .card-image img{
  height: 180px;
  margin: 20px 10px 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 2px;
}

.card .card-action{
  border: none;
  padding: 0;
  padding-right: 10px
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  margin: 0;
}

.first-line{
  font-size: 1.9em;
}

.second-line{
  font-size: 1.5em
}

.third-line{
  font-size: 1.2em;
  display: inline;
  float: right;
  line-height: 1.3em;

}

#rabbi-btn{
  position: relative;
  top: 40px;
}

#cantor-btn{
  position: relative;
  bottom: 5px;
}


#cantor-card-action{
  position: relative;
  bottom: 3px;
}

.card-btn{
 /*background-color: #c9b191;*/
 background-color: var(--dark-blue);
 border: none;
 margin: 15px;
}

.card-btn:hover{
  background-color: var(--light-blue);
  color: #fff

}
#card-{

  color: var(--dark-blue);
  font-family: 'Open Sans', sans-serif;

}

.card .material-icons{
  color: var(--dark-blue);
}
.card .material-icons:hover{
  font-size: 30px;
}

.card .card-reveal{
  background-color: var(--tan)
}

.card .card-reveal p{
  color: var(--dark-blue);
}

.card .card-reveal .card- {
  color: var(--dark-blue);
  font-weight: 400
}

#peopleDiv h5{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  /* color: #666870; */
  color: white;
  margin: 5px;

}

#who-bottom{
  margin-bottom: 0;
  padding-top: 10px;
}

#who-top{
  padding-bottom: 0;
  margin-bottom: 5px;
}


.carousel.carousel-slider{
  margin-top: 12.8%;
  background-color:#E8573A;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.carousel.carousel-slider .carousel-item p{
  font-size: 1em;
  margin: 0 15px;
  line-height: 1.5em
  /* text-align: justify; */
}

th{
  color: var(--dark-blue)
}


/*Contact Div*/

#contact-list{
  background-color: var(--tan);
  padding: 5%;
  border-radius: 5px;

}

#contact-list i{
  width: 100%;
}

.contact-row{
  margin: auto;
  margin-bottom: 15px;

}

.contact-row i{
    color: var(--dark-blue);
}


.contact-text p {
  margin: 0 0;
  font-family: 'Bree Serif', serif;
  color: var(--dark-blue);
  font-size: 1.1em;

}

#temple-email{
  text-decoration: none;
  color: var(--dark-blue);
  font-family: 'Bree Serif', serif;
  font-size: 1.1em;
}

#temple-email:hover{
  color: var(--light-blue)
}





/*All Blogs page*/

#indiv-article-{
  padding-bottom: 30px;
  font-size: 40px;
  font-family: 'Bree Serif', serif;
  color: var(--dark-blue);
  padding-top: 30px;

}

#indiv-article-content{
  background-color: rgba(255,255,255, 0.9);
  padding: 0 100px;

}

#indiv-article-content p{

  color: var(--dark-blue);
  font-size: 1.2em;
  line-height: 1.7em
}


.links{
  color: var(--light-blue)
}

.links:hover{
  text-decoration: none;
}




.divider{
  margin-top: 30px;
}

.blog-body{
  background-color: #e8f6fc;
  margin: 0;
  padding: 0;
  width: 100%;
}


#article-s{
  background-color: var(--indigo);
  padding: 3% 1%;
}

#all-div{
  font-size: 1.5em;
  color: white;
  font-family: 'Bree Serif', serif;
}

#article-s a{
  color: white;
  position: relative;
  left: 7px;

}
#article-s a:hover{
  font-size: 1.05em;

}



/*Posts*/



.post-body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #E3F6FE;
}


#blog-post-{
  padding-bottom: 40px;
  font-family: 'Bree Serif', serif;
}

.post{
  padding: 0 8%
}

.post p{
  line-height: 1.8em;
  font-size: 20px;
}



#worship-dropdown{
  left: -35px;

}

#community-dropdown li,
#education-dropdown li,
#worship-dropdown li,
#about-dropdown li{
  width: 100%
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
  background-color: var(--light-blue)
}



.ex{
  min-height: 1000px;

}



.collapsible-body img{
  max-width: 100%
}



.player{
    /* border: 5px solid var(--dark-blue);
    border-radius: 1%; */
    background-color: #f7f7f7;

}

.progress{
  margin-top: 12px;
  background-color: var(--dark-blue)
}

.time{
  margin-right: : 20px;
  margin-top: 6px;
}

#play-btn{
  border: none;
  /* background-color: #E9F6FC; */
  background-color: #f7f7f7;
  margin-top: 5px;
  position: relative;
  right: 10px;
}



.progress__filled {
  /*width:50%;*/
  background: var(--light-blue);
  flex:0;
  flex-basis:50%;
}


.info p{
  padding: 7%;
  background-color: #E8C547;
  border-radius: 5px;
  margin-top: 2%;
  line-height: 2em;
  font-size: 1.1em;
  color: var(--dark-blue);
}


.info{
  background-color:#E3F6FE;
  padding-bottom: 7%;
}

.stuff{
  padding-bottom: 5%;
}


#img2{
  display: inline;
  float: left
}


#img-div{
  padding: 0 0;
}



h4{
  font-family:'Bree Serif', serif;
  color:var(--dark-blue);
  padding: 3% 0;
}

.stuff i{
  font-size: 48px;
}

.prayer-header{
  font-family: 'Bree Serif', serif;
  color: var(--dark-blue)
}


.collapsible-header{
  margin-bottom: 0;
  background-color: #546A76;
  border-bottom: 2px solid #495c66;
}

.collapsible-header:hover{
  background-color: #647a84;
  border-bottom: 0;
}

.collapsible-header:active{
  background-color: #647a84;
  border-bottom: 0;
}



.collapsible-header p{
  padding: 5px 0;
  color: #FFFFFA;
  font-weight: 600;
  font-size: 1.1em;
  margin: 0 0 0;
}

.collapsible-header p:hover{
  color: #fff;
}

.collapsible-body{
  background-color: white;
}

.map{
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}





/*  Media queries*/

@media (max-width: 1224px){

  .map{
    position: relative;
    right: 60px;

  }


}


@media (max-width: 1184px){
  .third-line {
    font-size: 1em
  }

  .rabbi-card{
    position: relative;
    right: 80px;
    width
  }

  .cantor-card{
    position: relative;
    left: 80px
  }

  /* .whole-head{
    max-height: 122px
  } */

  /* #left-cup, #right-cup{
      max-height: ;
  } */

  #contact-list{
    padding: 3%;
  }


}

@media (max-width: 1110px){

  .words{
    font-size: 1.4rem
  }



  /* .whole-head{
    max-height: 120px
  } */

  /* #left-cup, #right-cup{
      max-height: 120px;
  } */




}


@media (max-width: 1090px){

  #header h1{
    font-size: 4em;
    padding-bottom: 10px;
  }


}


@media(max-width: 992px){
  .carousel.carousel-slider{
    margin-top: 17%
  }

  .flex{
    display: flex;
    justify-content: center;
  }

  .nav-content {
    text-align: center;
  }
}


@media (max-width: 920px){
  #contact-list{
    padding: 2%
  }
}
