* {
  box-sizing: border-box;
}

:root{
  /*--background1: #F7FCFF;*/
  --background1: #EFEFEF;
  /*--background2: #f2f7f9;*/
  --background2: #F2F2F2;

  --sectionHeaderColor: #dcae1d;
  --Bree: 'Bree Serif', serif;
  --openSans: 'Open Sans', sans-serif;

  --dark-blue: #011936;
  --white: #fff;
  --light-blue: #3399CC;
  --tan: #CDB99C;
  --red: #330000;
}
/*#cae4db*/
/*#7a9d96*/
/*#00303f*/


/*#ECC748-gold*/
/*#3B94A1-blue*/
/*#E69C43-orange*/
/*#945D4F-bronze*/
/*#655B66-purple*



/*Overall Formating*/
nav{
  background-color: var(--dark-blue);
  padding: 0 10px;
  padding-left: 30px;
  font-family: 'Bree Serif', serif;
}




#header{
  background-color: var(--light-blue);
  padding: 0;
  margin: 0;
  width: 100%;
  color: white;

}

#philosophyDiv{
  background-color: var(--background1);
  margin-bottom: 0;
  margin-top: 0;
}

 #eventsDiv {
  background-color: var(--background1);
  margin-bottom: 0;
  margin-top: 0;
  /*height: 100vh;*/
  /*margin: 0;*/
  /*width: 100%*/
}

#peopleDiv, #locationDiv{
  background-color: var(--background2);
  margin-top: 0;
  /*height: 100vh*/

  /*margin: 0;*/
  /*width: 100%;*/
}


#header h1{
    font-family: 'Bree Serif', serif;
    font-size: 4.5em;
    color: #E2E2E2;
    margin-bottom: 0
}

#header h5{
  margin-top: 0;
  font-family:'Bree Serif', serif;
  color:#E2E2E2;

}

p, h4{
  font-family: 'Open Sans', sans-serif;
}





h3, #blog-title{
  /*color: #afd275;*/
  font-family:'Bree Serif', serif;
  color: var(--dark-blue)
  /*#655B66;*/
}

#blog-title{
  padding-bottom: 30px;
}

.topRow{
  padding: 3% 0 2% 0;
  margin: 0;
}

.bottomRow{
  margin-bottom: 0;
  padding-bottom: 5%;


}




/*Phiosolphyh Div Formatting*/

#philText, #cupImg{
  font-size: 1.1em;



}

#cupImg{
  max-height: 200px;

}



/*People Div Formating*/

.card{
  background-color: var(--tan);
  width: 100%;
  height: 300px;


}
.card.horizontal .card-image img{
  height: 180px;
  margin: 20px 10px 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 2px;
}

.card .card-action{
  border: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
  margin: 0;
}

.first-line{
  font-size: 1.9em;
}

.second-line{
  font-size: 1.5em
}
#card-title{

  color: var(--dark-blue);
  font-family: 'Open Sans', sans-serif;

}

.card .material-icons{
  color: var(--dark-blue);
}
.card .material-icons:hover{
  font-size: 30px;
}

.card .card-reveal{
  background-color: var(--tan)
}

.card .card-reveal p{
  color: var(--dark-blue);
}

.card .card-reveal .card-title {
  color: var(--dark-blue);
  font-weight: 400
}






/*Events Div*/

.collapsible-header p{
  font-family: 'Bree Serif', serif;
  color: #F2F7F9;
  font-size: 20px
}

.collapsible-header{
  background-color: var(--red);
  border-bottom: 2px solid #210000;
}

.collapsible-body{
  background-color: var(--red);
  border-bottom: 1px solid #210000;
}

.collapsible-body p{
  color: #F2F7F9;
}

.collapsible{
  margin-top: 15%;
}


/*Contact Div*/

#contact-list{
  background-color: var(--tan);
  padding: 5%;
  border-radius: 5px;

}

.contact-row{
  margin: auto;
  margin-bottom: 15px;

}

.contact-row material-icons{
    color: var(--dark-blue);
}


.contact-text p {
  margin: 0 0;
  font-family: 'Bree Serif', serif;
  color: var(--dark-blue);
  font-size: 1.1em

}

#temple-email{
  text-decoration: none;
  color: var(--dark-blue);
  font-family: 'Bree Serif', serif;
  font-size: 1.1em
}





/*All Blogs page*/

#indiv-article-title{
  padding-bottom: 30px;
  font-size: 30px;
  font-family: 'Bree Serif', serif;
  color: var(--dark-blue);
  padding-top: 30px
}

#indiv-article-content p{

  color: var(--dark-blue);
}


.links{
  color: var(--light-blue)
}

.links:hover{
  text-decoration: none;
}








.divider{
  margin-top: 30px;
}

.blog-body{
  background-color: var(--background2);
  margin: 0;
  padding: 0;
  width: 100%;
}


#article-titles{
  background-color: var(--indigo);
  padding: 3% 1%;
}

#all-div{
  font-size: 1.5em;
  color: white;
  font-family: 'Bree Serif', serif;
}

#article-titles a{
  color: white;
  position: relative;
  left: 7px;

}
#article-titles a:hover{
  font-size: 1.05em;

}



/*Posts*/



.post-body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background2)
}


#blog-post-title{
  padding-bottom: 40px;
  font-family: 'Bree Serif', serif;
}

.post{
  padding: 0 8%
}



#community-dropdown{
  left: -35px;

}

#community-dropdown li{
  width: 100%
}
